package ${package}.${moduleName}.entity;

import entity.top.mybi.common.mybatis.LogicDeleteBaseEntity;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDateTime})
import java.time.LocalDateTime;
#end
#if(${hasDate})
import java.time.LocalDate;
#end
import lombok.Data;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}Entity extends LogicDeleteBaseEntity {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	#if($column.columnName == $pk.columnName)
@TableId(value = "$column.columnName", type = IdType.ASSIGN_ID)
	#end
private $column.attrType $column.columnJavaName;
#end

}
