<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sipue.backstage.mapper.MenuMapper">
    <select id="getMenuByRoleId" resultType="com.sipue.backstage.entity.MenuEntity">
        SELECT
            m.menu_id,
            m.name,
            m.permission,
            m.path,
            m.parent_id,
            m.icon,
            m.sort_order,
            m.keep_alive,
            m.type,
            m.create_time
        FROM
             sys_menu m
             LEFT JOIN sys_role_menu r ON m.menu_id = r.menu_id
        WHERE m.deleted = 1
        AND r.role_id = #{roleId}
        ORDER BY m.sort_order DESC
    </select>
</mapper>